* {
	z-index: 0;
}

h2, p{
	font-size: 22px;
	position: relative;
	left: 3%; width: 97%;
}

#table {
	padding: 10px;
	margin-top: 10px;
}

.form_label {
	display: inline-block;
	margin-top: 10px;
}

.reg_button {
	position: fixed;
	background-color: #0000;
	padding: 10px;
	z-index: 5;
}